* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

header .blue-bg {
  background-color: #0282F9;
}

header .blue-bg .top-nav {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  font-size: 12px;
  font-weight: bolder;
  padding: 4px 0;
}

header .blue-bg .top-nav .d-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .blue-bg .top-nav .d-flex .list-item {
  list-style: none;
  margin: 0 10px;
  display: inline-flex;
  align-content: center;
}

header .blue-bg .top-nav .d-flex .list-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

header div .bot-nav {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header div .bot-nav div {
  max-width: 55px;
}

header div .bot-nav div img {
  width: 100%;
}

header div .bot-nav ul {
  display: flex;
  list-style: none;
}

header div .bot-nav ul li {
  margin: 0 20px;
}

header div .bot-nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  color: #504E50;
  padding: 36px 0;
}

header div .bot-nav ul li a:hover {
  border-bottom: 4px solid #0282F9;
  color: #0282F9;
}

header div .bot-nav ul li .my-sort-down i {
  color: #0282F9;
}

header div .bot-nav form {
  border-bottom: 2px solid #0282F9;
}

header div .bot-nav form input {
  width: 114px;
  border: transparent;
  outline: none;
  font-weight: bolder;
}

header div .bot-nav form input::-moz-placeholder {
  text-indent: 65px;
}

header div .bot-nav form input:-ms-input-placeholder {
  text-indent: 65px;
}

header div .bot-nav form input::placeholder {
  text-indent: 65px;
}

.wrap-jumb {
  max-width: 100%;
  height: 320px;
}

.wrap-jumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .bg-dark {
  background-color: #1C1C1C;
  padding: 30px 0 24px 0;
}

main .bg-dark .maxi-container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  position: relative;
  padding: 18px 0;
}

main .bg-dark .maxi-container .title-movie {
  padding: 10px 20px;
  background-color: #0282F9;
  color: #fff;
  width: 202px;
  text-transform: uppercase;
  position: absolute;
  top: -53px;
  left: 0;
}

main .bg-dark .maxi-container .movie-container {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

main .bg-dark .maxi-container .movie-container .single-movie {
  flex: 0 0 16.6666666667%;
  max-width: 16.66%;
  padding: 10px;
}

main .bg-dark .maxi-container .movie-container .single-movie .features-image {
  max-width: 200px;
  margin: 0 auto;
}

main .bg-dark .maxi-container .movie-container .single-movie .features-image a {
  text-decoration: none;
  color: #fff;
}

main .bg-dark .maxi-container .movie-container .single-movie .features-image a .wrap-only-img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 20px;
}

main .bg-dark .maxi-container .movie-container .single-movie .features-image a .wrap-only-img img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .bg-dark .maxi-container .movie-container .single-movie .features-image a h4 {
  text-transform: uppercase;
  padding-bottom: 40px;
  font-weight: lighter;
}

main .bg-dark .button-wrap {
  text-align: center;
}

main .bg-dark .button-wrap button {
  background-color: #0282F9;
  padding: 10px 50px;
  border: none;
}

main .bg-dark .button-wrap button a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Barlow Semi Condensed", sans-serif;
}

main .blue-bg {
  background-color: #0282F9;
  padding: 65px 0;
}

main .blue-bg .max-cont {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main .blue-bg .max-cont .box-mod {
  display: flex;
  align-items: center;
  flex-basis: 250px;
  font-family: "Cardo", serif;
}

main .blue-bg .max-cont .box-mod:nth-child(4) .img-comics-digital img {
  width: 26px;
}

main .blue-bg .max-cont .box-mod .img-comics-digital {
  width: 100%;
  max-width: 40px;
}

main .blue-bg .max-cont .box-mod .img-comics-digital img {
  width: 100%;
}

main .blue-bg .max-cont .box-mod h4 {
  color: #fff;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 14px;
}

footer .footer-bg-img {
  background-image: url("/images/footer-bg.jpg");
}

footer .footer-bg-img .footer-top {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding-bottom: 20px;
  color: #fff;
  overflow: hidden;
}

footer .footer-bg-img .footer-top .d-flex {
  display: flex;
  position: relative;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding {
  width: 50%;
  padding: 40px 0;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row {
  display: flex;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-3 {
  width: 25%;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-3 h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-3 .margin {
  margin: 20px 0;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-3 ul {
  font-family: "Cardo", serif;
  font-size: 14px;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-3 ul li {
  list-style: none;
  padding: 3px 0;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-3 ul li a {
  color: #8E8D8C;
  text-decoration: none;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-6 {
  width: 50%;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-6 h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-6 ul {
  font-family: "Cardo", serif;
  font-size: 14px;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-6 ul li {
  list-style: none;
  padding: 3px 0;
}

footer .footer-bg-img .footer-top .d-flex .col-6.padding .row .col-6 ul li a {
  color: #8E8D8C;
  text-decoration: none;
}

footer .footer-bg-img .footer-top .d-flex .wrap-dc-logo-bg {
  position: absolute;
  overflow: hidden;
  top: -89px;
  right: 30px;
}

footer .footer-bg-img .footer-top .cookies {
  color: #8E8D8C;
  display: inline-block;
  font-family: "Cardo", serif;
  font-size: 14px;
}

footer .footer-bg-img .footer-top .cookies span a {
  text-decoration: none;
  color: #0774DB;
}

footer .footer-bott {
  background-color: #303030;
}

footer .footer-bott .container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bott .container button {
  border: #0263FF 2px solid;
  padding: 10px;
  background-color: #303030;
}

footer .footer-bott .container button a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
}

footer .footer-bott .container .d-flex {
  display: flex;
}

footer .footer-bott .container .d-flex h2 {
  color: #0282F9;
  text-transform: uppercase;
  margin-right: 10px;
}

footer .footer-bott .container .d-flex img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 7px;
}

.bg-blue {
  background-color: #0282F9;
  height: 80px;
}

.bg-blue .position-relative {
  position: relative;
  display: inline-block;
}

.bg-blue .position-relative .position-absolute {
  position: absolute;
  top: -242px;
  left: 260px;
  border: 1px solid #fff;
}

.bg-blue .position-relative .comic-book {
  display: inline-block;
  position: absolute;
  top: -241px;
  left: 262px;
  z-index: 2;
  background-color: #00A9D9;
  color: #fff;
  width: 97px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.bg-blue .position-relative .view-gallery {
  background-color: #00A9D9;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 261px;
  text-align: center;
  width: 192px;
  font-size: 12px;
  text-transform: uppercase;
}

.wrap {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  color: #1B5068;
  padding: 80px 0;
  display: flex;
}

.wrap .col-8 {
  width: 66.6666%;
}

.wrap .col-8 .row {
  display: flex;
  background-color: #55BA59;
  justify-content: space-between;
  text-transform: uppercase;
}

.wrap .col-8 .row .col-8 {
  width: 66.6666%;
  display: flex;
  justify-content: space-between;
  color: #88F29B;
  border-right: 1px solid grey;
  padding: 10px;
}

.wrap .col-8 .row .col-4 {
  width: 33.333333%;
  text-align: center;
  padding: 10px;
}

.wrap .col-4.wrap-images-superman {
  width: 33.333333%;
  text-align: end;
}

