main{
    .bg-dark {
        background-color: $color_dark_black;
        padding: 30px 0 24px 0;
        .maxi-container {
            @include container-w;

            position: relative;
            padding: 18px 0;
    
            .title-movie {
                padding: 10px $spacing;
                background-color: $color_blue;
                color: #fff;
                width: 202px;
                text-transform: uppercase;
                position: absolute;
                top: -53px;
                left: 0;
    
            }
    
            .movie-container {
             
                display: flex;
                flex-wrap: wrap;
                color: #fff;
                .single-movie {
                    flex: 0 0 (100% / 6);
                    max-width: 16.66%;
                    padding: 10px;
                    .features-image {
                        max-width: 200px;
                        margin: 0 auto;
                        a {
                            text-decoration: none;
                            color: #fff;
                            .wrap-only-img {
                                width: 100%;
                                height: 0;
                                padding-bottom: 100%;
                                position: relative;
                                margin-bottom: 20px;
                                img {
                                    width: 100%;
                                    position: absolute;
                                    left:0;
                                    top:0;
                                    
                                    display: block;
                                    height:100%;
                                    object-fit: cover;
                                    object-position: top;
                                }
                            }
                            h4 {
                                text-transform: uppercase;
                                padding-bottom: 40px;
                                font-weight: lighter;
                            }
                        }

                    }
                    
                }
            }
        }
    
        .button-wrap {
            text-align: center;
            button {
                background-color: $color_blue;
                padding: 10px 50px;
                border: none;
                a {
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bolder;
                    font-family: 'Barlow Semi Condensed', sans-serif;
                }
            }
        }
    }
    .blue-bg {
        background-color: $color-blue;
        padding: 65px 0;
        .max-cont {
            @include container-w;

            display: flex;
            justify-content: space-between;

            .box-mod{
                display: flex;
                align-items:center;
                flex-basis: 250px;
                font-family: 'Cardo', serif;

                
                &:nth-child(4) {
                        
                        .img-comics-digital {
                            img {
                                width: $spacing + 6px;
                            }
                        }
                    
                    
                }

                .img-comics-digital{
                    width: 100%;
                    max-width: 40px;
                   
                    img {
                        width: 100%;
    
                    }
                }
                h4 {
                    color: #fff;
                    margin-left: 10px;
                    text-transform: uppercase;
                    font-weight: lighter;
                    font-size: $font-size;
                }
            }
        }
    }
}